$primary: #F1F2F7;
$secondary:#5A67BA;
$maintext:#1F384C;
$text-color:#000000;
$li-items:#273240;
$dots-button:#5A6ACF;
$light-dots:#D8D9DB;
$bg-circle:#FFE6CC;
$low-info:#F2383A;
$high-info:#149D52;
$circle-shadow:#DBE5EB;
