$primary: #f1f2f7;
$secondary: #5a67ba;
$maintext: #1f384c;
$text-color: #000000;
$li-items: #273240;
$dots-button: #5a6acf;
$light-dots: #d8d9db;
$bg-circle: #ffe6cc;
$low-info: #f2383a;
$high-info: #149d52;
$circle-shadow: #dbe5eb;
$icons: #a6abc8;

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}
.sidebar {
  height: 100vh;
  width: 30%;
  background-color: $primary;
}
.logo {
  display: flex;
  align-items: center;
  gap: 8px;
  position: relative;
  top: 20px;
  left: 40px;
}

.icon {
  width: 24px;
  height: 24px;
  background-color: $secondary;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon p {
  font-size: 11px;
  font-weight: 700;
  color: white;
  line-height: 1;
}

.logo-text {
  text-transform: uppercase;
  color: $secondary;
  font-weight: 700;
  font-size: 11px;
  letter-spacing: 0.5px;
}
.menu-label {
  margin-top: 10px;
  text-transform: uppercase;
  color: #082431;
  line-height: 11px;
  margin-bottom: 10px;
}
.menu-items {
  list-style: none;
  margin-top: 65px;
}
.menu li {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 11px 12px;
  border-radius: 6px;
  cursor: pointer;
  color: $li-items;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 0.5px;
}
.menu-icons {
  color: $icons;
}
.align{
    gap: 14px;
}
