@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

.sidebar {
  height: 100vh;
  width: 240px;
  background-color: #f1f2f7;
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;
  position: relative;
  top: 20px;
  left: 40px;
}

.icon {
  width: 24px;
  height: 24px;
  background-color: #5a67ba;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon p {
  font-size: 11px;
  font-weight: 700;
  color: white;
  line-height: 1;
}

.logo-text {
  text-transform: uppercase;
  color: #5a67ba;
  font-weight: 700;
  font-size: 11px;
  letter-spacing: 0.5px;
}

.menu-label {
  margin-top: 10px;
  text-transform: uppercase;
  color: #082431;
  line-height: 11px;
  margin-bottom: 10px;
}

.menu-items {
  list-style: none;
  margin-top: 65px;
}

.menu li {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 11px 12px;
  margin-right: 12px;
  border-radius: 6px;
  cursor: pointer;
  color: #273240;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 0.5px;
  transition: background-color 0.2s ease, color 0.2s ease;
}
.menu li:hover:not(.menu-label) {
  background-color: rgba(112, 127, 221, 0.1);
  color: #5a6acf;
}
.menu li.menu-label {
  font-size: 13px;
  text-transform: uppercase;
  color: #082431;
  font-weight: 300;
  cursor: default;
  padding: 16px 12px 6px;
}

.align {
  gap: 14px;
}

.front {
  display: flex;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 32px;
}
nav .searchbar {
  position: relative;
  width: 582px;
  height: 32px;
}
nav .searchbar input {
  width: 100%;
  padding: 8px 35px 8px 12px;
  border: none;
  border-radius: 6px;
  font-size: 13px;
  outline: none;
  background-color: #f1f2f7;
  color: #1f384c;
  opacity: 30%;
  letter-spacing: 0.5px;
}
nav .searchbar input::placeholder {
  opacity: 100%;
  color: #627b87;
}
nav .searchbar .search-icon {
  position: absolute;
  right: -27px;
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  cursor: pointer;
}
nav .account {
  display: flex;
  align-items: center;
  gap: 10px;
}
nav .account .acc-icon {
  width: 32px;
  height: 32px;
  background-color: #ffe6cc;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
nav .account .acc-icon img {
  width: 18px;
  height: 18px;
}
nav .account .acc-info p {
  font-size: 12px;
  line-height: 10px;
  letter-spacing: 0.5px;
}
nav .account .notif-icon {
  position: relative;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}
nav .account .notif-icon img {
  width: 20px;
  height: 20px;
}
nav .account .notif-icon::after {
  content: "";
  position: absolute;
  top: 5px;
  right: 7px;
  width: 7px;
  height: 7px;
  background-color: #f2383a;
  border-radius: 50%;
}

.main {
  flex: 1;
}
.main .layout {
  padding: 20px 32px;
}
.main .layout h1 {
  font-weight: 400;
  font-size: 20px;
  color: #1f384c;
}
.main .layout .graphs .row-1 {
  display: flex;
  gap: 40px;
}
.main .layout .graphs .row-1 .rev-card {
  flex: 60%;
}
.main .layout .graphs .row-1 .rev-card .sub-text h2 {
  font-weight: 500;
  font-size: 20px;
  margin-top: -10px;
  margin-bottom: 5px;
}
.main .layout .graphs .row-1 .rev-card .sub-text {
  font-size: 12px;
}
.main .layout .graphs .row-1 .rev-card .sub-text .up {
  color: #149d52;
  font-weight: 600;
}
.main .layout .graphs .row-1 .rev-card .sub-text .line {
  color: #000000;
  opacity: 50%;
}
.main .layout .graphs .row-1 .rev-card .sales-text {
  font-size: 13px;
  letter-spacing: 0.5px;
  color: #000000;
  opacity: 50%;
}
.main .layout .graphs .row-1 .order-card {
  flex: 40%;
}
.main .layout .graphs .row-1 .order-card .sub-text {
  margin-top: -27px;
  font-size: 13px;
  letter-spacing: 0.5px;
  color: #000000;
  opacity: 50%;
}
.main .layout .graphs .row-1 .rev-card,
.main .layout .graphs .row-1 .order-card {
  padding: 16px;
  padding-left: 0;
}
.main .layout .graphs .row-1 .rev-card .rev,
.main .layout .graphs .row-1 .rev-card .order,
.main .layout .graphs .row-1 .order-card .rev,
.main .layout .graphs .row-1 .order-card .order {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main .layout .graphs .row-1 .rev-card .rev p,
.main .layout .graphs .row-1 .rev-card .order p,
.main .layout .graphs .row-1 .order-card .rev p,
.main .layout .graphs .row-1 .order-card .order p {
  font-size: 14px;
  font-weight: 500;
  color: #1f384c;
}
.main .layout .graphs .row-1 .rev-card .rev button,
.main .layout .graphs .row-1 .rev-card .order button,
.main .layout .graphs .row-1 .order-card .rev button,
.main .layout .graphs .row-1 .order-card .order button {
  font-size: 12px;
  padding: 8px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: rgba(90, 106, 207, 0.0588235294);
  color: #5a6acf;
  border: 1px solid rgba(0, 0, 0, 0.0784313725);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.06);
  font-weight: 500;
  letter-spacing: 0.5px;
  color: #5a6acf;
}

/*# sourceMappingURL=style.css.map */
